.side-bar
  .side-bar__new
    .side-bar__new__items
      .side-bar__new__items__name
        masa
      .side-bar__new__items__icons
        = link_to "#" do
          = icon('far','edit', class: "side-bar__new__items__icons__edit")
          = icon('fas','cog',class: "side-bar__new__items__icons__cog")
  
  .side-bar__group-list
    .side-bar__group-list__message
      .side-bar__group-list__message__groups
        techcamp
      .side-bar__group-list__message__comments
        まだメッセージがありません。
    .side-bar__group-list__message
      .side-bar__group-list__message__groups
        techcamp
      .side-bar__group-list__message__comments
        まだメッセージがありません。
      

