.side-bar
  .side-bar__name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        = link_to "#" do
          = icon('far','edit', class: "top-items__icons__edit")
          = icon('fas','cog',class: "top-items__icons__cog")
  
  .side-bar__group-list
    .message
      .message__groups
        techcamp
      .message__comments
        まだメッセージがありません。
    .message
      .message__groups
        techcamp
      .message__comments
        まだメッセージがありません。
      

