* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;;
  text-decoration: none;

  .main-chat {
    width: calc(100vw - 300px);

    .main-chat__group-info{
      background-color: #ffffff;
      height: 100px;
      padding: 0px 40px 0px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .top-text{
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
        .top-member{
          color: #999999;
          font-size: 12px;
          margin-top: 15px;
        }
      }
      .top-edit{
        margin: 28px 20px;
        color: #38aef0;
        font-size: 16px;
      }
    }

    .main-chat__message__list{
      background-color: #fafafa;
      height: calc(100vh - 100px - 90px);
      padding-top: 35px;
      .list-name{
        color: #333333;
        font-size: 16px;
        margin-bottom: 46px;
        .list-text{
          margin-top: 12px;
          color: #434A54;
          font-size: 14px;
        }
      }
    }

    .form{
      background-color: #d2d2d2;
      height: 90px;
      padding: 20px 40px;

      form{
        display: flex;
        .input-box{
          display: flex;
          width: 100%;
          position: relative;
          &__text {
            height: 50px;
            width: 100%;
            color: #434a54;
            border-style: none;
            padding: 0 0px 0 10px;
          }
          &__image {
            position: absolute;
            top: 10px;
            right:10px;
            cursor: pointer;
            font-size: 1.3rem;
          
            &__file {
              display: none;
            }
          }
        }
        .submit-btn {
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  .side-bar {
    width: 300px;
    background-color: #253141;
    .side-bar__name{
      height: 100px;
      background-color: #253141;
      display: flex;
      align-items: center;
      padding: 20px;
      .top-items{
        height: 20px;
        width: 260px;
        background-color: #253141;
        display: flex;
        justify-content: space-between;
        .top-items__name{
          font-size: 16px;
          font-weight: bold;
          color: #ffffff;;
        }
        .top-items__icons{
          width: 60px;
          text-align: right;
          &__edit{
            color: #ffffff;
          }
          &__cog{
            color: #ffffff;
          }
        }
      }
    }
    .side-bar__group-list{
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 0px 20px 0px 20px;
      .message{
        color: #ffffff;
        font-weight: bold;
        padding: 20px 0px 40px 0px;
        .message__groups{
          font-size: 15px;
          margin-bottom: 5px;
        }
        .message__comments{
          font-size: 11px;
        }
      }
    }
  }
}